<CONFIG>
    <INPUT>
    <INPUT_PATH>/home/hypevr/PoissonNew/PoissonRecon/build/apps/PoissonRecon/Demo0073.ply</INPUT_PATH>
    <DEGREE>2</DEGREE>
    <B_TYPE>3</B_TYPE>
    <DEPTH>10</DEPTH>
    <SCALE>1.1</SCALE>
    <SAMPLES_PER_NODE>1.0</SAMPLES_PER_NODE>
    <POINT_WEIGHT>4</POINT_WEIGHT>
    <ITERS>8</ITERS>
    <!--<PRIMAL_VOXEL></PRIMAL_VOXEL>-->
    <COLORS>--colors</COLORS>
    <DATA>64</DATA>
    <DENSITY>--density</DENSITY>
    <!--<LINEAR_FIT></LINEAR_FIT>-->
    <!--<POLYGON_MESH></POLYGON_MESH>-->
    <THREADS>8</THREADS>
    <!--<VERBOSE></VERBOSE>-->
    </INPUT>
    <OUTPUT>
        <OUTPUT_PATH>/home/hypevr/PoissonNew/PoissonRecon/build/apps/PoissonRecon/out.ply</OUTPUT_PATH>
    </OUTPUT>
</CONFIG>
